<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.dataTables.min.css')}}">  
  <link rel="stylesheet" href="{{url_for('static', filename='css/buttons.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/buttons.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/select.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/rowReorder.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.dataTables.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/fixedHeader.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.bootstrap.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <!--link rel="stylesheet" href="{{url_for('static', filename='css/list_album.css')}}"-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/c3.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.css')}}">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
   
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Class Demo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/album/1">Album</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/list_album">Products</a></li>   
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" id="content-page">
          <br><br><br>
          <div class="container">
                        <div class="row cpanel" >{% for row in dataset  %}
                          <div class="col-md-3">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">{{ row["Name"] }}</h3>
                              </div><!--end panel heading-->
                              <div class="panel-body">
                                <div class="col-xs-6 col-md-6">
                                  <i class="{{ row["icon"] }}" style="color:#2980B9"></i>
                                </div><!--end column-->
                                <div class="col-xs-6 col-md-6">
                                  <h1 class="text-right" style="
    color: grey;
">{{ row["total_items_by_category"] }}</h1>
                                </div><!--end column-->
                              </div><!--end panel body-->
                            </div><!--end panel primary-->
                          </div><!--end panel col-->
                          {% endfor %}
                        </div><!--end row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="chart"></div>
                            </div>
                            <div class="col-sm-6">
                                <div id="chart2"></div>
                            </div>
                        </div><!--end row-->
                        <div class="seperator"></div>
                        <div class="row">
                            <div class="col-sm-6">
                              <table id="myTable" class="table table-striped table-bordered display nowrap responsive dtr-inline collapsed"
                              style="width:100%">
                                  <thead>
                                      <tr>
                                          <th>Name</th>
                                          <th>Total Entries</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for row in dataset  %}
                                      <tr>
                                          <td>{{ row["Name"] }}</td>
                                          <td>{{ row["total_items_by_category"] }}</td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                            <div class="col-sm-6">
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                <button type="button" class="btn btn-primary btn-sm" id='roll_up' onclick="show_districts();">Show</button><button type="button" class="btn btn-outline-primary btn-sm" id="roll_up" onclick="clear_markers();" style="
                                  border-style: solid;
                                  border-width: 1px;
                                  border-color: #327ab7;
                              ">Clear</button><br>
                               <div id="map" style="width: 100%; height: 250px"></div>
                              </div><!-- column -->
                            </div>
                        </div><!--end row-->
                    </div><!--end container-->
        </div><!--container-fluid-->
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
<script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap-3.3.7.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dataTables.select.min.js')}}"></script>   
<script src="{{url_for('static', filename='js/dataTables.responsive.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/dataTables.fixedHeader.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/responsive.bootstrap.min.js')}}"></script>    
<script src="{{url_for('static', filename='js/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
<!--script src="{{url_for('static', filename='js/list_album.js')}}"></script-->
<script src="{{url_for('static', filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/c3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='js/leaflet.markercluster.js')}}"></script> 
<script src="{{url_for('static', filename='js/TileLayer.Grayscale.js')}}"></script>
<script>
            var mapboxTiles = L.tileLayer.grayscale('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a>', maxZoom: 18,});

            var map = L.map('map',{ fadeAnimation: false })
               .addLayer(mapboxTiles)
               .setView([22.287111, 114.191667], 13);

             layerGroup = L.layerGroup().addTo(map);

             var items = {};
             var data = [];
             {% for row in  entries3  %}
                  items = {};
                  items["name"] = "{{ row["Name"] }}";
                  items["url"] = "{{ row["url"] }}";
                  items["image_url"] = "{{ row["img_url"] }}";
                  items["latitud"] = {{ row["Lat"] }};
                  items["longitud"] = {{ row["Lng"] }};
                  data.push(items);
              {% endfor %}
        </script>
        <script>
            function show_districts(){
              for (var i in data) {
                  var latlng = L.latLng({ lat: data[i].latitud, lng: data[i].longitud });
                  L.marker( latlng )
                      .bindPopup( '<a href="' + data[i].url + '" target="_blank">' + '<img src="' + data[i].image_url+'" width = "80px"><br>'+data[i].name + '</a>' )
                      .addTo(layerGroup);
              }
            }

            function clear_markers () {
                           // map.removeLayer(marker);
                           layerGroup.clearLayers();
            }
        </script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                        e.preventDefault();
                        $("#wrapper").toggleClass("toggled");
                    });
        </script>
        <script>
            $.extend( $.fn.dataTable.FixedHeader, {
                      responsive: true
                  } );
            $(document).ready(function(){
              var chart = c3.generate({
                          data: {
                              columns:
                              [{% for name,entry in entries %}
                                          ['{{name}}',{{entry}}],
                                        {% endfor %}
                              ],
                             type : 'bar',
                             labels:true,
                             colors: {
                                radio: '#7FB3D5',
                                computer: '#5499C7',
                                tv: '#2980B9',
                                tablet: '#2471A3'
                                }
                           },
                          bar: {
                              title: "Product by Category:",
                              width: {
                                ratio: 0.5 // this makes bar width 50% of length between ticks
                              }
                          },
                          tooltip: {
                              show: false,
                          },
                          axis: {
                            x: {
                                label: 'Products',
                                type: 'category',
                                categories:['','','','']
                               },
                            y: {label: '# of Entries'}
                          }
                      }); // end c3.generate

                var chart = c3.generate({
                    data: {
                        columns: [{% for name2,entry2 in entries2 %}
                                          ['{{name2}}',{{entry2}}/{{total}}],
                                        {% endfor %}
                              ],
                        type : 'donut',
                        colors: {
                           radio: '#7FB3D5',
                           computer: '#5499C7',
                           tv: '#2980B9',
                           tablet: '#2471A3'
                           }
                    },
                    donut: {
                        title: "Product Distribution",
                    },
                    bindto: '#chart2'
                });

                var table = $('#myTable').DataTable( {
                    responsive: true,
                  });

                table.on( 'select deselect', function () {
                      var selectedRows = table.rows( { selected: true } ).count();

                      table.button( 0 ).enable( selectedRows === 1 );
                      table.button( 1 ).enable( selectedRows > 0 );
                } );
            }); // end document ready
 </script>
</body>
</html>
