{% extends "base.html" %}
{% block content %}

   <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid" id="content-page">
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Front-End</h3>
                            <p>This website is built on Bootstrap with data visualization support provided
                                by <a href="https://datatables.net/extensions/select/examples/api/select.html" target="_blank">jQuery dataTable</a>, <a href="https://c3js.org/" target="_blank">C3js</a> and <a href="https://leafletjs.com/" target="_blank">Leaflet</a>.</p>To login, just enter "demo@demo.com" for email and "password" for password.
                        </div>
                        <div class="col-sm-4">
                            <h3>Web App Framework</h3>
                            <p>The app server is built on the <a href="http://flask.palletsprojects.com/en/1.1.x/" target="_blank">Python Flask framework</a> with the <a href="https://jinja.palletsprojects.com/en/2.10.x/" target="_blank">jinja
                                template system</a> providing the needed views for building the front-end user
                                interface.&nbsp;</p>
                            <p></p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Database</h3>
                            <p>The Airtable database web service is accessed through <a href="https://airtable.com/api" target="_blank">the Airtable REST API</a> call and the MySQL database is accessed through the <a href="https://flask-sqlalchemy.palletsprojects.com/" target="_blank">Flask SQLAlchemy</a> ORM library to provide data objects mapping, pagination and CRUD operaton support.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Airtable Data Source</h3>
                            <p>The data used in the dashboard demonstration can be found in this Airtable database. The chart receives its data from the "Roll-up" table and the map from the "Venues" table. The album data is stored in MySQL datase. You can try add, update, or delete products from the album by using the add, update, and delete buttons above the display grid.</p>
                            <p>The dataset was originally derived from a tutorial by d3-media on learning Refine for data cleaning and transformation. The original link is <a href="http://d3-media.blogspot.com/2013/11/how-to-refine-your-data.html" target="_blank">here.</a></p>
                        </div>
                    </div>
                    <div class="row">
                     <div class="col-md-12">
                       <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="airtable-embed" src="https://airtable.com/embed/shr04Rw04eizPVKgg?backgroundColor=yellow"
                         frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
                       </div>
                     </div>
                   </div><!--end row-->
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

{% endblock %}