<form role="form" method="post" action="/update_product">
                              <div class="form-group">
                                  <div class="col-sm-4">
                                      <label for="productid">Product ID</label>
                                  </div>
                                  <div class="col-sm-8">
                                      <input type="text" name="productid" id="upd_productid" class="form-control" placeholder="Product ID" required autofocus>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-4">
                                    <label for="productcode">Product Code</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" name="productcode" id="upd_productcode" class="form-control" placeholder="Product Code" required autofocus>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-4">
                                    <label for="name">Name</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" name="name" id="upd_name" class="form-control" placeholder="Name" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-4">
                                    <label for="quantity">Quantity</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" name="quantity" id="upd_quantity" class="form-control" placeholder="Quantity" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-4">
                                    <label for="price">Price</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" name="price" id="upd_price" class="form-control" placeholder="Price" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-sm-4">
                                    <label for="supplierid">Supplier ID</label>
                                  </div>
                                  <div class="col-sm-8">
                                    <input type="text" name="supplierid" id="upd_supplierid" class="form-control" placeholder="Supplier ID" required>
                                  </div>
                              </div>
                             <button type="submit" class="mt-3 btn btn-primary">Submit</button>
                        </form>