<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta http-equiv="Content-Security-Policy"
        content="default-src * 'self' data: gap: 'unsafe-inline' 'unsafe-eval';
        style-src * 'self' 'unsafe-inline' 'unsafe-eval' gap:;
        script-src * 'self' 'unsafe-inline' 'unsafe-eval' gap:; frame-src *;">
        <title>com5940 PhoneGap Demo</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link href="{{url_for('static', filename='css/font-lato.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='css/pingendo.css')}}" rel="stylesheet" type="text/css">
        <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <style>
            body {
              padding-right: 0px !important
            }

            .modal-open {
              overflow-y: auto;
            }
            
            img#modal-pop-up {
                width: 100% !important;
                max-height: 400px !important;
                height: auto;
                overflow: hidden;
            }
        </style>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

        <script>
               function modal_handle(name, org_desc, image) {
                            $("h3.modal-title").html(`${name}`);
                            $(".modal-body").html(`<img id="modal-pop-up" src="${image}"
                                class="img-responsive"><p>${org_desc}</p>`);
                            $('#popup-photo').modal('show');
                } // end modal_handle function

                function topFunction() {
                    $('html, body').animate({scrollTop : 0},800);
                    return false;
                } // end topFunction

        </script>
    </head>
    <body>
        <div id="top"></div>
        <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#top">Home</a></li>
                        <li><a href="#album">Album</a></li>
                         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                         <li><a href="/login"><span class="glyphicon glyphicon-log-in">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>
        <div class="cover">
             <div class="cover-image" style="background-image : url('/static/img/pexels-photo-3585089.jpeg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-muted">Heading</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici eli.</p>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div id="album">
            <div class="container" id="album_items">
               {% for item in dataset %}
                {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
                {% if counter == 1 %}<div class="row">{% endif %}
                <div class="col-md-4">
                  <div class="thumbnail">
                   <img src="{{ item['img_url'] }}">
                      <div class="caption">Col#: {{ loop.index }}<br>Name: {{ item['name'] }}<br>Lat: {{ item['lat'] }}<br>Lng: {{ item['lng'] }}</div>
                       <button class="btn btn-lg btn-primary" onclick="modal_handle('{{item["name"]}}','{{item["description"]}}','{{item["img_url"]}}')" data-toggle="modal" data-id="107" data-body="testing...">View</button>
                    </div>
                </div> 
               {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
              {% endfor %} 
                
            </div> <!-- end container -->
        </div>
        <div class="modal fade" id="popup-photo">
            <div class="modal-dialog">
                <div class="modal-content" style="
    margin-top: 15%;
">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title"></h3>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <p></p>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>
        <div class="footer">
            <div class="footer">
                <div class="container">
                    <p class="float-right">
                        <a href="#top" style="
                        color: white;
                        vertical-align: middle;
                        text-decoration: none;">Back to top</a>
                    </p>
                </div>
            </div>
        </div>
       

        <script>
            $(document).ready(function(){

                var mybutton = document.getElementById("myBtn");
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
                }
                // When the user clicks on the button, scroll to the top of the document
            }); // end document ready
        </script>
        
        <script id="rendered-js">
                    // jQuery Smooth Scroll
                    // https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_eff_animate_smoothscroll
                    $("a").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    }); // end animate
                    } // End if this.hash
                    }); // end onclick

                    $("a").on('click touchend', function(event) {

                     // Make sure this.hash has a value before overriding default behavior
                     if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    }); // end animate
                    } // End if this.hash
                    }); // end onclick
        </script>
    </body>
</html>