
        h1 {   
            border-style: solid;
            border-width: 5px;
            padding: 10px;
            text-align: center;
            color: steelblue;
            background-color: beige;
            border-color: cadetblue
        }
