
      h1,h2,h3,h4 {
        border-style: solid;
        border-width: 7px;
        padding: 20px;
        text-align: center;
        color: black;
        width: 50%;
      }

      h4 {
        color:red;  
      }